<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8"/>
    <title>源代码列表</title>

    <!--<link href="<%=basePath%>/resources/assets/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<script type="text/javascript" src="<%=basePath%>/resources/js/jquery/jquery.js"></script>-->
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var totalNumber = Number(${totalPageNumber});
            var pageSize = Number(${pageSize});
            var pageCount = totalNumber/pageSize;
            var html = "";
            for(var i = 0;i<pageCount;i++){
                var link_Url = "<li><a href=\"<%=MethodURL%>"+(i+1)+"\">"+(i+1)+"</a></li>";
                html += link_Url;
            }
            var fenyeDiv = document.getElementById("link");
            fenyeDiv.innerHTML=html;
        });
    </script>
</head>
<body>
<a href="#" class="list-group-item active">
    源代码列表
</a>
<c:forEach items="${sourceCodeList}" var="sourceCode">
    <a href="<%=request.getContextPath()%>/sourcecode/detail.action?id=<c:out value="${sourceCode.id}" />" class="list-group-item"><c:out value="${sourceCode.title}" /></a>
</c:forEach>
<!-- 列表分页的DIV,由JS动态填充内容-->
<ul class="pagination pagination-lg" id="link">

</ul><br>

</body>
</html>